@charset "utf-8";
@import '../Variables/Variables.css';

.footer {
  width: 100%;
  height: 220px;
  background-color: var(--ColorGray);
  display: flex;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

.footer-articleContainer {
  width: 483px;
  padding: 50px 0px;
}

.footer-itemTitle {
  font-size: var(--d18px);
  font-weight: 700;
  line-height: var(--d18px);
}

.footer-itemDesc {
  font-size: var(--d16px);
  font-weight: 400;
  line-height: var(--d16px);
  padding-bottom: 5px;
}
