@charset "utf-8";
@import '../Variables/Variables.css';

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

nav {
  width: var(--MainWidth);
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ColorWhite);
  padding: 0px 20px;
}

.logo-img {
  background-image: url('../images/Logo/Booki.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 45px;
  margin-top: 5px;
}

.gnb {
  display: flex;
  justify-content: space-around;
}

.gnb li {
  text-align: center;
}

.gnb li a {
  font-size: var(--d14px);
  line-height: var(--d14px);
  position: relative;
  color: var(--FontBlack);
  display: inline-block;
  width: 100%;
  font-weight: 500;
  padding: 0px 10px;
}

.gnb li a:hover {
  color: var(--ColorBlue);
}

.gnb li a:before {
  content: '';
  position: absolute;
  background-color: var(--ColorBlue);
  height: 2px;
  width: 0;
  top: -59px;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
.gnb li a:hover:before {
  width: 100%;
}
