:root {
  --MainWidth: 1450px;

  --ColorBlack: #000000;
  --ColorWhite: #ffffff;
  --ColorBlue: #0065fc;
  --ColorGray: #f2f2f2;
  --ColorShadow: #e7e7e7;

  --star-size: 0.719rem;
  --star-color: #d9d9d9;
  --star-background: #0065fc;

  --mini-icon: 0.519rem;

  /* DesktopFontSize */
  --d10px: '0.63rem';
  --d12px: '0.75rem';
  --d14px: '0.88rem';
  --d16px: '1rem';
  --d18px: '1.13rem';
  --d20px: '1.25rem';
  --d24px: '1.5rem';
  --d30px: '1.88rem';
  --d32px: '2rem';
  --d36px: '2.25rem';
  --d38px: '2.38rem';
  --d40px: '2.5rem';
  --d42px: '2.63rem';

  /* MobileFontSize */
  --m10px: '0.63em';
  --m12px: '0.75em';
  --m14px: '0.88em';
  --m16px: '1em';
  --m18px: '1.13em';
  --m20px: '1.25em';
  --m24px: '1.5em';
  --m30px: '1.88em';
  --m32px: '2em';
  --m36px: '2.25em';
  --m38px: '2.38em';
  --m40px: '2.5em';
  --m42px: '2.63em';
}
