<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <section class="filters">
      <!-- ici tag label -->
      <p>Filtres</p>
      <!-- Ce serait mieux d'ajouter fonction de "plus de voir" -->
      <ul class="icons">
        <!-- map() data binding input(name, data), iconID, text -->
        <li>
          <label>
            <input
              type="checkbox"
              name="Économique"
              data='{"type":"filters","slug":"economique"}'
            />
            <div>
              <i class="fas fa-money-bill-wave" aria-hidden="true"></i>
              <span class="text">Économique</span>
            </div>
          </label>
        </li>
        <li>
          <label>
            <input
              type="checkbox"
              name="Familial"
              data='{"type":"filters","slug":"familial"}'
            />
            <div>
              <i class="fas fa-child" aria-hidden="true"></i>
              <span class="text">Familial</span>
            </div>
          </label>
        </li>
        <li>
          <label>
            <input
              type="checkbox"
              name="Romantique"
              data='{"type":"filters","slug":"eomantique"}'
            />
            <div>
              <i class="fas fa-heart" aria-hidden="true"></i>
              <span class="text">Romantique</span>
            </div>
          </label>
        </li>
        <li>
          <label>
            <input
              type="checkbox"
              name="Animaux autorisés"
              data='{"type":"filters","slug":"Animaux"}'
            />
            <div>
              <i class="fas fa-dog" aria-hidden="true"></i>
              <span class="text">Animaux autorisés</span>
            </div>
          </label>
        </li>
      </ul>
    </section>
  </body>
</html>
