<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <section class="footer">
      <div class="footer-container">
        <article class="footer-articleContainer">
          <ul class="footer-itemContainer">
            <h2 class="footer-itemTitle">A propos</h2>
            <li class="footer-itemDesc">
              <a href="#none">Fonctionnement du site</a>
            </li>
            <li class="footer-itemDesc">
              <a href="#none">Conditions générales de vente</a>
            </li>
            <li class="footer-itemDesc">
              <a href="#none">Données et confidentialité</a>
            </li>
          </ul>
        </article>
        <article class="footer-articleContainer">
          <ul class="footer-itemContainer">
            <h2 class="footer-itemTitle">Nos hébergements</h2>
            <li class="footer-itemDesc"><a href="#none">Charte qualité</a></li>
            <li class="footer-itemDesc">
              <a href="#none">Soumettre votre hôtel</a>
            </li>
          </ul>
        </article>
        <article class="footer-articleContainer">
          <ul class="footer-itemContainer">
            <h2 class="footer-itemTitle">Assistance</h2>
            <li class="footer-itemDesc"><a href="#none">Centre d'aide</a></li>
            <li class="footer-itemDesc"><a href="#none"> Nous contacter</a></li>
          </ul>
        </article>
      </div>
    </section>
  </body>
</html>
