<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
  </head>
  <body>
    <!-- scoll event if( 50 > 100) h70px -->
    <header>
      <nav>
        <div class="logo">
          <!-- tag d'img est meilleure. -->
          <a href="App.html">
            <div class="logo-img"></div>
          </a>
        </div>
        <ul class="gnb">
          <li><a href="#hebergements"> Hébergements</a></li>
          <li><a href="#activites">Activités</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
